<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace속성 : id를 그룹화하기 위한 속성 
  		mapper의 경로를 작성-->
<mapper namespace="project.database.ActivityMapper">
<!-- id: 중복불가, 해당태그의 고유한 식별자 
		세미콜론 적지 않는다, ?바인드 변수와 같은 기능을 하는 것 #{컬럼명=객체의 필드명}
-->	
	<select id="selectAllact" resultType="project.domain.ActivityMember">
		select * from activity_info
	</select>
	
	<select id="selectjustOne" parameterType="project.domain.ActivityMember" resultType="project.domain.ActivityMember">
		select * from activity_info where activity_no = #{activity_no}
	</select>
	
</mapper>