<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JoinCon</servlet-name>
  	<display-name>JoinCon</display-name>
  	<description></description>
  	<servlet-class>project.controller.JoinCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCon</servlet-name>
  	<display-name>LoginCon</display-name>
  	<description></description>
  	<servlet-class>project.controller.LoginCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutCon</servlet-name>
  	<display-name>LogoutCon</display-name>
  	<description></description>
  	<servlet-class>project.controller.LogoutCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCon</servlet-name>
  	<display-name>UpdateCon</display-name>
  	<description></description>
  	<servlet-class>project.controller.UpdateCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCon</servlet-name>
  	<display-name>DeleteCon</display-name>
  	<description></description>
  	<servlet-class>project.controller.DeleteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SelectOneCon</servlet-name>
  	<display-name>SelectOneCon</display-name>
  	<description></description>
  	<servlet-class>project.controller.SelectOneCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReviewCon</servlet-name>
  	<display-name>ReviewCon</display-name>
  	<description></description>
  	<servlet-class>project.controller.ReviewCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PostCon</servlet-name>
  	<display-name>PostCon</display-name>
  	<description></description>
  	<servlet-class>project.controller.PostCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SelectReview</servlet-name>
  	<display-name>SelectReview</display-name>
  	<description></description>
  	<servlet-class>project.controller.SelectReview</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateReviewCon</servlet-name>
  	<display-name>UpdateReviewCon</display-name>
  	<description></description>
  	<servlet-class>project.controller.UpdateReviewCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SelectReview2</servlet-name>
  	<display-name>SelectReview2</display-name>
  	<description></description>
  	<servlet-class>project.controller.SelectReview2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateReviewCon2</servlet-name>
  	<display-name>UpdateReviewCon2</display-name>
  	<description></description>
  	<servlet-class>project.controller.UpdateReviewCon2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinCon</servlet-name>
  	<url-pattern>/JoinCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCon</servlet-name>
  	<url-pattern>/LoginCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutCon</servlet-name>
  	<url-pattern>/LogoutCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCon</servlet-name>
  	<url-pattern>/UpdateCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCon</servlet-name>
  	<url-pattern>/DeleteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SelectOneCon</servlet-name>
  	<url-pattern>/SelectOneCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviewCon</servlet-name>
  	<url-pattern>/ReviewCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PostCon</servlet-name>
  	<url-pattern>/PostCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SelectReview</servlet-name>
  	<url-pattern>/SelectReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateReviewCon</servlet-name>
  	<url-pattern>/UpdateReviewCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SelectReview2</servlet-name>
  	<url-pattern>/SelectReview2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateReviewCon2</servlet-name>
  	<url-pattern>/UpdateReviewCon2</url-pattern>
  </servlet-mapping>
</web-app>
